* {
    margin: 0;
    padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    max-width: 100%;

}

.blueBg {
    width: 1000px;
}

.main-home {
    position:fixed;
    background-size: cover;
    background-position: centre;
    min-width: 100%;
    min-height: 100%;
    padding:1rem;

}

.summary-home {
    height: 50%;
    position: bottom;
}

.FullCalendar .calendar .fc-scrollgrid {
    background-size:cover;
}

.featured{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.featuredItem{
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.featuredTitle{
    font-size: 20px;
}

.featuredQuantity{
    font-size: 30px;
    font-weight: 600;
}

.featuredRate{
    font-size: 15px;
}





