/* PMS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  /* PMS */
.PMS {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
  
/* Sidebar */
.Sidebar-pms {
    width: 250px;
    min-width: 210px;
    height: 100%;
}

/* Main */
.Main-pms {
    width: 100%;
    height: 100%;
    background: url("../../../../public/images/timenus-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 1rem;
}

.Main-pms .heading {
    margin: 0.2rem 1rem 1rem 0rem;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: bold;
    
}


/* Agenda */ 
.Agenda {
    width: 350px;
    height: 85%;
    background-color: white;
    position: absolute;
    bottom: 60px; 
    left: 60px;
    border-radius: 4px;
    border: 2px solid black;
    opacity: 0.9;
  
    padding: 0 0.5rem 0.5rem 0.5rem;
    scroll-behavior: smooth;
    overflow: scroll;
}

.Agenda .title {
    margin: 0.5rem 0;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 2px solid #eeeeee;
}

.EditAgenda .edit-btn {
    position: absolute;
    justify-content: center;
    top: 5px;
    right: 0px;
    margin-right: 10px;
}

.Agenda .textbox {
    margin: 1rem;
}

/* ProjectFiles */
.ProjectFiles {
    width: 350px;
    height: 85%;
    background-color: white;
  
    position: absolute;
    bottom: 60px; 
    left: calc(60px + 350px + 60px);
    border-radius: 4px;
    border: 2px solid black;
    opacity: 0.9;
  
    padding: 0 0.5rem 0.5rem 0.5rem; 
    scroll-behavior: smooth;
    overflow: scroll;
}

.ProjectFiles .title {
    margin: 0.5rem 0;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 2px solid #eeeeee;
}

.ProjectFiles .upload-btn {
    position: absolute;
    justify-content: center;
    top: 5px;
    right: 0px;
    margin-right: 10px;
}



/* ProjectLinks */
.ProjectLinks {
    width: 350px;
    height: 85%;
    background-color: white;
    position: absolute;
    bottom: 60px; 
    left: calc(60px + 350px + 60px + 350px + 60px);
    border-radius: 4px;
    border: 2px solid black;
    opacity: 0.9;
    padding: 0 0.5rem 0.5rem 0.5rem; 
    scroll-behavior: smooth;
    overflow: scroll;
}

.ProjectLinks .title {
    margin: 0.5rem 0;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 2px solid #eeeeee;
}


/* AddProjectLink */
.AddProjectLink .add-btn {
    position: absolute;
    justify-content: center;
    top: 5px;
    right: 0px;
    margin-right: 10px;
}


/* CreateNewGroup */
.CreateNewGroup {
    border-bottom: 1px solid #ebebeb;
  }
.CreateNewGroup .btn {
    padding: 1rem;
    width: 100%;
    height: 70px;
}
.CreateNewGroup .btn button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    background-color: #0080ff;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.CreateNewGroup .btn button:hover {
    filter: brightness(1.1);
    transition: background 300ms ease;
}

/* JoinGroup */
.JoinGroup {
    border-bottom: 1px solid #ebebeb;
  }
.JoinGroup .btn {
    padding: 1rem;
    width: 100%;
    height: 70px;
}
.JoinGroup .btn button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    background-color: #0080ff;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.JoinGroup .btn button:hover {
    filter: brightness(1.1);
    transition: background 300ms ease;
}


/* Groups */
.Groups {
    padding: 1rem;
    border-bottom: 1px solid #ebebeb;
  }
  
  .Groups .header {
    display: flex;
    align-items: center;
  }
  
  .Groups .header .title {
    display: flex;
    align-items: center;
    flex: 1;
  }
  
  .Groups .header .title p {
    margin-left: 10px;
    margin-top: 15px;
    font-size: 1.1rem;
    font-weight: bold;
  }
  .Groups .header .btns {
    display: flex;
    align-items: center;
  }
  
  .Groups .header .btns span.edit {
    margin-right: 3px;
    margin-top: 2px;
  }
  .Groups .header .btns span {
    border-radius: 50%;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex; 
    align-items: center;
    justify-content: center;
  }
  
  .Groups .header .btns span:hover {
    background-color: #ebebeb;
    transition: background 300ms ease-in-out;
  }
   
  .Groups .items {
    padding: 0.5rem;
  }

/* ProjectForm */
.GroupForm {
    background-color: white;
    padding: 1rem;
    border-radius: 4px;
    position: relative;
    padding-bottom: 40px;
    left: 30%;

}
  
  .GroupForm input {
    width: 100%;
    height: 40px;
    margin: 15px 0;
    border: none;
    font-size: 1.2rem;
  }
  
  .GroupForm input:focus {
    outline: none;
    border-bottom: 1px solid #0080ff;
  }
  
  .GroupForm button {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 50%;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: filter 300ms ease-in-out;
  }
  
  .GroupForm button.cancel {
    left: 0;
    background-color: #bebebe;
  }
  
  .GroupForm button.confirm {
    right: 0;
    background-color: #0080ff;
  }
  
  .GroupForm button:hover {
    filter: brightness(1.1)
  }


  /* Group */ 
 .Group {
    position: relative; 
    display: flex;
    align-items: center;
    padding: 0.25rem;
    margin: 5px;
    font-size: 1rem;
  }
  
  .Group .name {
    cursor: pointer;
    word-break: break-all;
  }
  
  .Group .btns {
    display: flex;
    align-items: center;
  }
  
  .Group .btns .total-todos {
    position: absolute;
    right: 0;
    background: #ebebeb;
    width: 25px;
    height: 25px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .Group .btns .edit-delete {
    position: absolute;
    right: 0;
    display: flex;
  }
  
  .Group .btns .edit-delete span {
    border-radius: 50%;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 300ms ease-in-out;
  }
  
  .Group .btns .edit-delete span.edit:hover {
    background: #acffac;
  }
  
  .Group .btns .edit-delete span.delete:hover {
    background: #ffacac;
  }


